/* resume.css */
body,html{width: 100%; height: 100%;}
#wrap{width: 100%; height: 100%;}
.bgi{background-repeat: no-repeat;
     background-position: center;
     background-size: contain; 
     width: 100%; height: 100%; background-color: #F0F2F4;}
#resume_01{background-image: url("../img/infographic_resume_01.jpg");}
#resume_02{border-top: 2px solid #F0F2F4; background-image: url("../img/infographic_resume_02.jpg");}
#resume_03{border-top: 2px solid #F0F2F4; background-image: url("../img/infographic_resume_03.jpg");}