/* fullpage 1366px~full */
@media screen and (min-width: 1366px) {
  body,html{width: 100%; height: 100%;}
  #wrap{width: 100%; min-width: 1366px; height: 100%; background-color: #acd;}
    /* #headBox */
    #headBox{position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 70px; box-sizing: border-box; background-color: #fff;}
      #headBox>h1{position: absolute; top: 20px; left: 50%; width: 250px; height: 30px; margin-left: -125px;}
        #headBox>h1>a{display: block; width: 100%; height: 100%; font-size: 1.5rem; font-weight: bold; color: #000; line-height: 30px;}
    /* .tab_menu{} */
        .tab_menu>h2{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
        .tab_menu>.tab_btn{position: relative; top: 0; left: 0; width: 70px; height: 70px; padding: 10px; border: 1px solid #ddd; box-sizing: border-box; background-color: #fff;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 20px;
          background-image: url("../../img/menu_bar.png");}
        .tab_menu>.tab_btn:hover{background-image: url(../../img/menu_bar_b.png);}
        .tab_menu>.tab_btn:focus{background-image: url(../../img/menu_bar_b.png);}
        .tab_menu>.tab_btn.cancel{background-image: url(../../img/cancel_B.png);}
        .tab_menu>.tab_list{display: block; position: absolute; top: 69px; left: -300px; width: 300px; height: 800px; padding: 50px 0 0 30px; border-top: 1px solid #ddd; box-sizing: border-box; background-color: #fff; transition: all ease 500ms;}
        .tab_menu>.tab_list.show{left: 0;}
          .tab_menu>.tab_list>li{width: 200px; height: 60px;}
            .tab_menu>.tab_list>li>a{display: block; width: 100%; height: 60%; font-size: 1.2rem; font-weight: bold; background-color: #fff; color: #000; line-height: 36px;}
            .tab_menu>.tab_list>li>a:hover{color: #2B52A0;}
            .tab_menu>.tab_list>li>a:focus{color: #2B52A0;}
    /* //#headBox */
    /* #main_wrap */
    #main_wrap{position: relative; width: 100%; height: calc(100% - 70px); margin-top: 70px; background-color: #111;}
      #main_wrap>h2{display: block; overflow: hidden; position: absolute; z-index: -1; width: 0; height: 0;}
      #main_wrap>.nav_wrap{position: absolute; top: 15%; left: 15%; width: 70%; height: 70%; border: 5px solid #ddd; box-sizing: border-box;}
        #main_wrap>.nav_wrap>ul{position: absolute; top: 50%; left: 50%; width: 500px; height: 210px; margin-top: -105px; margin-left: -250px;}
          #main_wrap>.nav_wrap>ul>li{width: 500px; height: 70px;}
          #main_wrap>.nav_wrap>ul>li>a{display: block; width: 100%; height: 100%; font-size: 2.5rem; font-weight: bold; line-height: 70px; color: #fff; text-align: center;}
    /* //#main_wrap */
    /* #yg_wrap */
    #yg_wrap{width: 100%; height: calc(100% - 70px); background-color: #aad;}
    /* //#yg_wrap */
    /* #acg_wrap */
    #acg_wrap{width: 100%; height: calc(100% - 70px); background-color: #acf;}
    /* //#acg_wrap */
    /* #resume_wrap */
    #resume_wrap{width: 100%; height: calc(100% - 70px); background-color: #daa;}
    /* //#resume_wrap */


}
/* -----fullpage 1366px~full */